  table {
    table-layout: fixed;
    width: auto;
  }
  
  thead th:nth-child(1) {
    width: 2%;
  }
  
  thead th:nth-child(2) {
    width: 25%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 10%;
  }
  
  thead th:nth-child(5) {
    width: 20%;
  }
  
  thead th:nth-child(5) {
    width: 20%;
  }
  
  th, td {
    padding: 20px;
  }