#nav {
  height: 60px;
  font-style: 100px;
  backdrop-filter: saturate(.5) blur(5px);
  -webkit-backdrop-filter: saturate(.5) blur(5px);
  background: rgba(0, 0, 0, 0.3) !important;
  z-index: 10005;
  .offcanvas {
    position: unset;
  }

  @media (max-width: 991px) {
    .offcanvas {
      background-color: $dark;
      backdrop-filter: saturate(.5) blur(5px);
      -webkit-backdrop-filter: saturate(.5) blur(5px);
      height: 100vh;
      width: 200px;
      overflow-y: visible;
      position: inherit;
     }
  }
}