#nav {
  backdrop-filter: saturate(.5) blur(5px);
  -webkit-backdrop-filter: saturate(.5) blur(5px);
  background: rgba(0, 0, 0, 0.3) !important;
  @media (max-width: 868px) {
     .offcanvas {
      height: 100vh;
      background-color: $dark;
      overflow-y: visible;
      backdrop-filter: saturate(.5) blur(5px);
      -webkit-backdrop-filter: saturate(.5) blur(5px);
      width: 30vh;
     }
  }
}