#welcome {
  .jumbotron {
    margin-top: -60px;
    background-image: url("header");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
  }
  
  .btn {
    transition: all .5s;
    &:hover {
      background-color: $gray-100 !important;
      color: $dark !important;
    }
  }
  @media (max-width: 568px) {
    .shadowandborder {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      border: 1px solid #dee2e6 !important;
    }
  }

  .feedback {
    img {
      width: 120px !important;
    }
  }
  
  .bottom {
    height: 280px;
    background: url("bottom1") no-repeat scroll top center/ cover;
  }
}