#welcome {
  .jumbotron {
    margin-top: -60px;
    font-family: 'Noto Sans SC', sans-serif;
    background-image: url("header.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
  }
  .btn {
    transition: all .8s;
    &:hover {
      background-color: $gray-100 !important;
      color: $dark !important;
    }
    animation: pulse 2s infinite alternate;
    transform-origin: center;
    @keyframes pulse {
      0% {
        transform: scale(.9);
      }
      70% {
        transform: scale(1.1);
      }
        100% {
        transform: scale(.9);
      }
    }
  }
  
  @media (max-width: 568px) {
    .shadowandborder {
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
      border: 1px solid #dee2e6 !important;
    }
  }

  .feedback {
    img {
      width: 120px !important;
    }
  }
  
  .bottom {
    height: 280px;
    background: url("bottom1.webp") no-repeat scroll top center/ cover;
  }
}