<div class="container-fluid row justify-content-center">
  <div class="col-lg-6 col-11 d-flex justify-content-center">
    <img src="https://via.placeholder.com/400x400.png" alt="" srcset="">
  </div>
  <div class="col-lg-6 col-11 justify-content-center">
    <h3>
      <%= @product.title %>
    </h3>
    <form  action="/" method="post">
    <dl class="row">
      <dt class="col-sm-3">售价</dt>
      <dd class="col-sm-9">
        <%= @product.price %>
      </dd>
      <dt class="col-sm-3">服务</dt>
      <dd class="col-sm-9">专业教练指导 | 专业的器械设备 | 质量保证</dd>
      <dt class="col-sm-3">库存</dt>
      <dd class="col-sm-9"> <%= @product.quantity %> </dd>
      <dt class="col-sm-3">数量</dt>
      <dd class="col-sm-9">
        <div class="input-group w-20">
          <button class="btn btn-sm btn-outline-secondary" type="button">-</button>
          <input type="text" name="quantity" value="1" class="lh-1 py-0  px-0 form-control text-center" placeholder="1">
          <button class="btn btn-sm btn-outline-secondary" type="button">+</button>
        </div>
      </dd>
      <input type="submit" value="加入购物车">
      <input type="submit" value="立即购买">
    </dl>
    </form>
  </div>
</div>