<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2 col-xs-4 footer-col" style="margin-top:60px">
        <div class="logofooter"> <img src='<%= image_url 'icon1.png' %>' > Fitness</div>
        <p style="margin-top:31px;">Desgin by Lei & Huang</p>
      </div>

      <div class="col-md-3 col-xs-4 footer-col" style="margin-top:65px">
        <p><i class="fa fa-map-pin"></i> 地址 : 深圳市 南山区 西丽</p>
        <p><i class="fa fa-phone"></i> 电话 : 13068004571</p>
        <p style="letter-spacing:1px"><i class="fa fa-envelope"></i> 邮箱 : Fitness@codepower.rocks</p>
      </div>

      <div class="col-md-3 col-xs-4 footer-col">
        <h6 class="heading7">了解我们</h6>
        <ul class="footer-social">
          <li><a href="" target="_blank"><i class="fa fa-linkedin social-icon linked-in" aria-hidden="true"></i></a></li>
          <li><a href="" target="_blank"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
          <li><a href="" target="_blank"><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></a></li>
          <li><a href="" target="_blank"><i class="fa fa-weibo social-icon google" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div id="sidebar" class="sidebar">
    <ul>
      <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    </ul>
  </div>

</footer>
