<footer class="px-xl-10 px-md-5 py-md-7 py-5 bg-dark text-light d-lg-block text-center text-nowrap overflow-hidden">
    <div class="row">
      <div class="col-md-4 col-sm-12 text-sm-center mb-3">
        <div class="logofooter fw-bolder h4 d-flex align-items-center justify-content-center mb-md-5"> <img class="me-3 w-10" src=<%= image_url 'icon1' %> > FitClub</div>
        <p class="small">Desgin by Lei & Huang</p>
      </div>

      <div class="col-md-4 col-sm-12 small text-md-center mb-3">
        <p><i class="bi bi-geo"></i> 地址 : 深圳市 南山 西丽</p>
        <p><i class="bi bi-phone"></i> 电话 : 13068004xxxxx</p>
        <p><i class="bi bi-person"></i> 邮箱 : FitClub@fit.com</p>
      </div>

      <div class="col-md-4 col-sm-12">
        <p class="fs-5 fw-bolder fs-sm-6 mb-md-5 mb-5">了解我们</p>
        <ul class="footer-social d-flex justify-content-lg-center justify-content-md-center justify-content-center list-unstyled">
          <li><a href="" target="_blank"><i class="rounded-circle p-2 text-light bi bi-linkedin text-light social-icon linked-in" aria-hidden="true"></i></a></li>
          <li><a href="" target="_blank"><i class="rounded-circle p-2 text-light bi bi-facebook social-icon facebook" aria-hidden="true"></i></a></li>
          <li><a href="" target="_blank"><i class="rounded-circle p-2 text-light bi bi-twitter social-icon twitter" aria-hidden="true"></i></a></li>
          <li><a href="" target="_blank"><i class="rounded-circle p-2 text-light bi bi-instagram social-icon google" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>

  <%# <div id="sidebar" class="sidebar">
    <ul>
      <li class="backtop"><i class="bi bi-arrow-circle-up"></i></li>
    </ul>
  </div> %>
</footer>
