<div id="nav" class="container-fluid sticky-top">
  <nav class="navbar navbar-expand-md navbar-dark w-75 mx-auto fs-6 fw-bolder align-items-center">
      <a class="navbar-brand d-flex align-items-center" href="#">
          <img class="me-2" src="/assets/icon1.png" alt="" width="30" height="30"> <span class="fw-bolder">Fitness</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse align-items-center" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto d-flex align-items-center">
          <form >
            <div class="input-group me-3">
              <input class="form-control" type="search" placeholder="Search" >
              <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
          </form>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-bs-toggle="dropdown">
              产品
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">会员分享</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">健身知识</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">购物车</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Admin</a>
          </li>
        </ul>
      </div>
  </nav>
</div>